{{ currentStep }}

<div *ngIf="currentStep === 'EXPENSE'" class="flex flex-wrap gap-[10px] m-auto">
  <div class="cat-div" (click)="openCat()">
    <div class="cat-name">aaa</div>
    <div class="expense-limit">bbb</div>
    <div class="expense-amount">ccc</div>
  </div>
  <div class="cat-div" (click)="openCat()">
    <div class="cat-name">aaa</div>
    <div class="expense-limit">bbb</div>
    <div class="expense-amount">ccc</div>
  </div>
  <div class="cat-div" (click)="openCat()">
    <div class="cat-name">aaa</div>
    <div class="expense-limit">bbb</div>
    <div class="expense-amount">ccc</div>
  </div>
</div>
